.go-to-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  width: 10rem;
  background-color: var(--color-style-white);
  box-shadow: var(--dropdown-box-shadow);
  border-radius: 0.5rem;
  box-sizing: border-box;
  z-index: 2;
}
