.multiple-status {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 0;
  width: 10rem;
  /*gap: 1rem;*/
  background-color: var(--color-style-white);
  box-shadow: var(--dropdown-box-shadow);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: var(--color-style-black);
  z-index: 2;
}
.multiple-status .checkbox {
  align-self: stretch;
  padding: 0.5rem 0 0.5rem 1rem;
}
.multiple-status .checkbox .checkbox__icon{
  top: 0.5rem;
  left: 1rem;
}