.single-status {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5rem 0;
  width: 10rem;
  background-color: var(--color-style-white);
  box-shadow: var(--dropdown-box-shadow);
  border-radius: 0.5rem;
  box-sizing: border-box;
  z-index: 2;
}
.single-status .radio {
  justify-content: flex-start;
  align-self: stretch;
  height: 2rem;
  padding: 0.5rem 1rem;
}
.single-status .radio__area {
  display: none;
}
