.searchbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1.75rem 0.25rem 2rem;
  gap: 0.25rem;
  height: 2rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid var(--color-style-blue);
  background-color: var(--color-style-white);
  box-sizing: border-box;
}
.searchbar__icon-search {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 1rem;
  height: 1rem;
  stroke: var(--color-style-blue);
}
.searchbar .button {
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
  display: none;
}
.searchbar__text {
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: var(--color-style-white);
  width: 100%;
  color: var(--color-style-black);
}
.searchbar__text::placeholder {
  color: var(--color-style-light-blue);
}
.searchbar_filled .button {
  display: block;
}
.searchbar .button .icon{
  stroke: var(--color-style-light-blue);
  fill: var(--color-style-light-blue);
}