.radio {
  display: flex;
  align-items: center;
}
.radio__area {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: var(--color-style-white);
  border: 0.0625rem solid var(--color-style-light-blue);
  border-radius: 0.5rem;
  box-sizing: border-box;
}
.radio__text {
  color: var(--color-style-black);
}
.radio__area:checked {
  border: 0.25rem solid var(--color-style-blue);
}
.radio__area:checked ~ .radio__text {
  color: var(--color-style-blue);
}
.radio:hover,
.radio__area:hover {
  cursor: pointer;
}
