._ {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

._:hover {
  cursor: pointer;
}

.area {
  appearance: none;
  margin: 0 5px 0 0;
  width: 1rem;
  height: 1rem;
  background-color: var(--color-style-white);
  border: 0.0625rem solid var(--color-style-light-blue);
  border-radius: 0.125rem;
  box-sizing: border-box;
}

.text {
  color: var(--color-style-black);
}

.area:checked {
  background-color: var(--color-style-blue);
  border-color: var(--color-style-blue);
}

.area:checked ~ .text {
  color: var(--color-style-blue);
}

.area:checked + .icon {
  opacity: 1;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  fill: var(--color-style-white);
  opacity: 0;
}
