._ {
  display: flex;
  padding: 0 0.5rem;
  height: 2.5rem;
  background: var(--color-style-blue);
  color: var(--color-style-white-blue);
  border-bottom: 0.0625rem solid var(--color-style-white-blue);
}
