.button-switcher-theme {
  position: relative;
}
.button-switcher-theme .theme-switcher {
  display: none;
  position: absolute;
  top: 1.7rem;
  right: 0;
}
.button-switcher-theme .button:hover + .theme-switcher {
  display: flex;
}
